.playout {
  display: flex;
  flex-direction:column;
  margin: auto;
  padding-top: 150px;
  width: 666px;
}
.playout .wp-block-image img{
  background-color: aliceblue;
  margin: 10px 0;
  border-radius: 10px;
}
.playout p,
ol {
  font-size: 18px;
}
.post-top{
  display: flex;
  align-items: flex-end;
}
.top-slug{
  margin-bottom: 5px;
  display: inline-flex;
  margin-right: 8px;
  background-color: pink;
  height: 10px;
  line-height: 0;
  padding: 2px;
  transition: all .4s;
}
.top-slug:hover{
  height: 18px;
  line-height: 0.8;
}
.top-tags{
  display: flex;
  /* gap: 10px; */
}
.top-tags p{
  font-size: 18px;
  padding-bottom: 0px;
}

.close {
  position: absolute;
  display: inline-flex;
  top: 0;
  right: 0;
  margin-top: 20px;
  padding: 0px 10px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}
.ptitle {
  --size: 18px;
  font-size: calc(var(--size) * 1.6);
  font-weight: 700;
  margin-bottom: 1vw;
}
.ptitle span {
  font-size: calc(var(--size));
  color: #a8a8a8c7;
}
.wp-block-heading {
  font-size: 22px;
  font-weight: 600;
}
.wp-block-code {
  background-color: #1e1e1e; /* 深色背景 */
  color: #dcdcdc; /* 文字颜色 */
  padding: 16px;
  border-radius: 8px;
  font-family: "Courier New", monospace;
  font-size: 14px;
  overflow-x: auto; /* 允许横向滚动 */
  line-height: 1.5;
  white-space: pre-wrap; /* 保持换行 */
  border: 1px solid #555;
  margin: 10px;
}
.wp-block-code code {
  display: block;
  color: #dcdcdc;
}
/* .wp-block-post-featured-image{
  display: none;
} */